  <%# if @search_users.include?(:user) %>
<%= @search_users %>
<h2>Users search for 「<%= params[:q][:name_or_books_title_or_books_body_cont] %>」</h2>
<% if @search_users.present? %>
  <!--検索がヒットした場合-->
  <%= render 'users/index', users: @search_users %>
<% else %>
    <!--検索がヒットしなかった場合-->
  <p>検索結果はありません</p>
<% end %>
  <%# else %>
    <!--<h2>Books search for "<%#= @q %>"</h2>-->
    <%#= render 'books/index', books: @search_users %>
  <%# end %>